<div class="w-50 bg-primary-subtle mx-auto py-4">
    <p class="fs-2 text-center">Login</p>
    <form action="/login" method="post">
        <div class="container">
            <div class="form-floating mb-3 ">
               <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
               <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Login</button>
        </div>
    </form>
</div>


