<div class="w-50 bg-primary-subtle mx-auto py-4">
    <p class="fs-2 text-center">Register</p>
    <form action="/register" method="post">
        <div class="container">
            <div class="d-flex gap-3">
                <div class="form-floating mb-3 w-50">
                    <input type="text" class="form-control" name="firstName" id="floatingFirstName" placeholder="FirstName">
                    <label for="floatingInput">FirstName</label>
                </div>
                <div class="form-floating mb-3 w-50">
                    <input type="text" class="form-control" name="lastName" id="floatingLastName" placeholder="LastName">
                    <label for="floatingInput">LastName</label>
                </div>
            </div>
            <div class="form-floating mb-3 ">
               <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
               <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </div>
    </form>
</div>


